{% extends 'base.html' %}

{% block content %}
  <h2>Create a New Device</h2>
  <form method="post" action="{% url 'devices_create' %}">
    {% csrf_token %}

    {% for field in form %}
      <div>
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
      </div>
    {% endfor %}

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#parameterModal">
      Select Parameters
    </button>

    <button type="submit">Create Device</button>
  </form>

  <!-- Parameter Selection Modal -->
  <div class="modal" id="parameterModal" tabindex="-1" role="dialog" aria-labelledby="parameterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="parameterModalLabel">Select Parameters</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Add your parameter cards here -->
          <!-- Example: <div class="card">Parameter 1</div> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="saveSelectedParameters()">Save Parameters</button>
        </div>
      </div>
    </div>
  </div>

  <a href="{% url 'devices_list' %}">Back to Device List</a>

  <!-- Add this to your HTML file to include Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script>
    function saveSelectedParameters() {
      // Implement logic to save selected parameters to your form or do other actions
    }
  </script>
{% endblock %}
