{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h2>Notifications</h2>
    <div class="list-group">
        {% for notification in notifications %}
            <div class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <div>
                        <h5 class="mb-1">{{ notification.message }}</h5>
                        {% if notification.type == 'invitation' %}
                            <p class="mb-1"><small>From: {{ notification.invitation.sender.user.username }}</small></p>
                        {% endif %}
                    </div>
                    <small>{{ notification.timestamp|timesince }} ago</small>
                </div>

                <!-- Display buttons based on the type of notification -->
                {% if notification.type == 'invitation' %}
                    <!-- Accept Button -->
                    <form method="post" action="{% url 'accept_invitation' notification_id=notification.id %}" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success btn-sm">Accept</button>
                    </form>
                    <!-- Decline Button -->
                    <form method="post" action="{% url 'decline_invitation' notification_id=notification.id %}" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Decline</button>
                    </form>
                {% endif %}
                {% if  notification.type == "access" %}
                    <!-- Accept Button -->
                    <form method="post" action="{% url 'accept_request' notification_id=notification.id %}" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success btn-sm">Accept</button>
                    </form>
                    <!-- Decline Button -->
                    <form method="post" action="{% url 'decline_request' notification_id=notification.id %}" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Decline</button>
                    </form>
                {% endif %}

                <!-- Delete Button (Common for all notifications) -->
                <form method="post" action="{% url 'delete_notification' notification.id %}" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary btn-sm">Delete</button>
                </form>

            </div>
        {% empty %}
            <div class="list-group-item">
                <p>No new notifications.</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
