asgiref==3.7.2
colorama==0.4.6
dj-database-url==2.1.0
Django==4.2.7
django-bootstrap-modal-forms==3.0.4
django-crispy-forms==2.1
django-environ==0.11.2
django-filter==23.3
django-session-timeout==0.1.0
gunicorn==21.2.0
packaging==23.2
psycopg2==2.9.9
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.8.0
tzdata==2023.3
whitenoise==6.6.0

jupyter~=1.0.0
pip~=23.1.2
attrs~=23.1.0
Pillow~=10.0.0
tornado~=6.3.2
Jinja2~=3.1.2
PyYAML~=6.0
numpy~=1.25.1
requests~=2.31.0
ipython~=8.14.0
environ~=1.0
setuptools~=65.5.0
pyparsing~=3.0.9