{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <h2>Change Password</h2>
    <form method="post" action="{% url 'change_password' %}" class="needs-validation" novalidate>
      {% csrf_token %}
      {{ form.as_p }}

      <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
    <a href="{% url 'profile_edit' %}" class="btn btn-secondary mt-2">Back to profile edit</a>
  </div>

  <script>
    (function () {
      'use strict';
      window.addEventListener('load', function () {
        var forms = document.getElementsByClassName('needs-validation');
        var validation = Array.prototype.filter.call(forms, function (form) {
          form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>
{% endblock %}
