<!-- profile/change_password.html -->

{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <h2>Change Password</h2>
    <form method="post" action="{% url 'change_password' %}">
      {% csrf_token %}
      {% if form.errors %}
        <div class="alert alert-danger">
          {% for field, errors in form.errors.items %}
            {% for error in errors %}
              {{ error }}
            {% endfor %}
          {% endfor %}
        </div>
      {% endif %}

      {{ form.as_p }}

      <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
    <a href="{% url 'profile_edit' %}" class="btn btn-secondary mt-2">Back to profile edit</a>
  </div>
{% endblock %}
