{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Home Systems{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>

<header>
    <div class="logo">
        <h1><a href="{% url 'home' %}">Your Home Systems</a></h1>
    </div>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                {% if user.userprofile.is_admin %}
                    <li><a href="{% url 'admin_dashboard' %}">Admin Dashboard</a></li>
                {% endif %}
                <li>Logged in as {{ user.username }}</li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="#">Devices</a></li>
                <li><a href="#">Systems</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="#">Systems</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

<div class="content">
    {% block content %}{% endblock %}
</div>



 <footer>
        <div class="footer-content">
            <p>For IIS 2023 project</p>
            <p>Designed & Built by Alina Vinogradova & Maryia Mazurava</p>
            <p class="footer-mail">xvinog00@vutbr.cz</p>
            <p class="footer-mail">xmazur08@vutbr.cz</p>
        </div>
 </footer>


</body>
</html>