{% extends 'base.html' %}

{% block content %}
  <h2>Edit Profile</h2>
  <form method="post" action="{% url 'profile_edit' %}">
    {% csrf_token %}

    {% comment %}
    {{ form.as_p }}
    {% endcomment %}

    {% for field in form %}
    {% if user.userprofile.is_admin and field.name == 'role' %}
        <div>
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
        </div>
    {% elif not user.userprofile.is_admin and field.name == 'role' %}
        <div>
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field.value|default:"No role" }}
        </div>
    {% else %}
        <div>
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
        </div>
    {% endif %}
{% endfor %}
    <p></p>

  <a href="{% url 'change_password' %}">Change Password</a>
    <p></p>
  <a href="{% url 'profile_delete' %}">Delete your account</a>

    <button type="submit">Save Changes</button>
  </form>
    <p></p>
  <a href="{% url 'profile' %}">Back to your profile</a>
{% endblock %}
