{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="card mb-4">
        <div class="card-header">
            <h1 class="card-title">{{ system.name }}</h1>
        </div>
        <div class="card-body">
            <p class="card-text">{{ system.description }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header">
                    <h2 class="card-title">Users</h2>
                </div>
                <ul class="list-group list-group-flush">
                    {% for user in users %}
                        <li class="list-group-item">{{ user.username }}</li>
                    {% empty %}
                        <li class="list-group-item">No users.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header">
                    <h2 class="card-title">Devices</h2>
                </div>
                <ul class="list-group list-group-flush">
                    {% for device in devices %}
                        <li class="list-group-item">{{ device.identifier }}</li>
                    {% empty %}
                        <li class="list-group-item">No devices.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
