{% extends 'base.html' %}

{% block content %}
  <h2>Editing user: {{ user_to_edit.username }}</h2>
  <form method="post" action="{% url 'user_edit' user_to_edit.id %}">
    {% csrf_token %}

    {% for field in form %}
      <div>
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
      </div>
    {% endfor %}

    <button type="submit">Save Changes</button>
  </form>
  <a href="{% url 'admin_dashboard' %}">Back to Admin Dashboard</a>
{% endblock %}
