<!-- admin/user_detail.html -->

{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <h1>User Detail</h1>
    <ul class="list-group">
      <li class="list-group-item"><strong>Username:</strong> {{ user_to_display.username }}</li>

      <li class="list-group-item"><strong>Name:</strong>
        {% if user_to_display.userprofile.name %}
          {{ user_to_display.userprofile.name }}
        {% else %}
          <span style="font-style: italic; color: #808080;">Not provided</span>
        {% endif %}
      </li>
      <li class="list-group-item"><strong>Surname:</strong>
        {% if user_to_display.userprofile.surname %}
          {{ user_to_display.userprofile.surname }}
        {% else %}
          <span style="font-style: italic; color: #808080;">Not provided</span>
        {% endif %}
      </li>
      <li class="list-group-item"><strong>Email:</strong>
        {% if user_to_display.userprofile.email %}
          {{ user_to_display.userprofile.email }}
        {% else %}
          <span style="font-style: italic; color: #808080;">Not provided</span>
        {% endif %}
      </li>
      <li class="list-group-item"><strong>Location:</strong>
        {% if user_to_display.userprofile.location %}
          {{ user_to_display.userprofile.location }}
        {% else %}
        <span style="font-style: italic; color: #808080;">Not provided</span>
        {% endif %}
      </li>
      <li class="list-group-item"><strong>Role:</strong> {{ user_to_display.userprofile.get_role_display }}</li>
    </ul>
    <hr class="my-3">
  <a href="{% url 'admin_dashboard' %}" class="btn btn-secondary">Back to Admin Dashboard</a>
  </div>
{% endblock %}
